/* App.css */

.button {
  padding: 10px;
  color: black;
  background-color: orange;
  text-align: center;
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Optional: rounded corners */
}

.box {
  padding: 10px;
  background-color: tan;
  text-align: center;
  border: 2px solid black; /* Specify border width and color */
  border-radius: 5px; /* Optional: rounded corners */
}

